[user]
    email = ygnmhdtt@gmail.com
    name = ygnmhdtt

[url "github.com:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:

[pager]
    branch = false

[ghq]
    root = ~/.ghq/src
