[user]
  email = ygnmhdtt@gmail.com
  name = ygnmhdtt

[url "github.com:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[includeIf "gitdir:~/mmm/**"]
  path = ~/.gitconfig-mmm

[pager]
	branch = false
