#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 6" --app-id=apdfllckaahabafndbhieahigkjlhalf
Icon=chrome-apdfllckaahabafndbhieahigkjlhalf-Profile_6
NoDisplay=true
StartupWMClass=crx_apdfllckaahabafndbhieahigkjlhalf
OnlyShowIn=Old;
